[submodule "CarConnectivity-plugin-mqtt"]
	path = CarConnectivity-plugin-mqtt
	url = https://github.com/tillsteinbach/CarConnectivity-plugin-mqtt
[submodule "CarConnectivity-plugin-mqtt_homeassistant"]
	path = CarConnectivity-plugin-mqtt_homeassistant
	url = https://github.com/tillsteinbach/CarConnectivity-plugin-mqtt_homeassistant
[submodule "CarConnectivity-connector-seatcupra"]
	path = CarConnectivity-connector-seatcupra
	url = https://github.com/tillsteinbach/CarConnectivity-connector-seatcupra
[submodule "CarConnectivity-plugin-webui"]
	path = CarConnectivity-plugin-webui
	url = https://github.com/tillsteinbach/CarConnectivity-plugin-webui
[submodule "CarConnectivity"]
	path = CarConnectivity
	url = https://github.com/tillsteinbach/CarConnectivity
